::-webkit-scrollbar {
    width: 9px;
    height: 9px;

}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(130, 215, 208, 1) 5%, rgba(1, 124, 168, 1) 100%);
    
    border-radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* p, h1,
h2,
h3,
h4,
h5,h6 {
color: #017ca8 !important;
} */




.shadow-inset{
    background: linear-gradient(180deg, rgba(130, 215, 208, 1) 5%, rgba(1, 124, 168, 1) 100%);
        box-shadow: inset 0 0 30px 20px rgba(0, 0, 0, 0.15);
}

.section-1 {
    background-image: url('../assets/img/soy.jpeg');
    background-size:contain;
    background-position: 85% 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}



@media (max-width: 768px) {
    .text {
        color: #fff;
        text-shadow: -1px 5px 4px rgba(0, 0, 0, 0.63);
    }
}

main  .card-img-block {
    width: 85% !important;
    margin: 0 auto !important;
    position: relative !important;
    top: -30px !important;
    cursor: pointer!important;
}


main  .cont {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.6s ease;
    cursor: pointer;
        
    
}

main .cont p{
display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}



main  .card:hover>.cont {
    height: 10rem;
}



.whatsapp {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 100;
}

.whatsapp:hover{
        transform: scale(1.1);
}

.btn-primary { 
    background: linear-gradient(90deg, rgba(130, 215, 208, 1) 5%, rgba(1, 124, 168, 1) 100%) !important;
    border: #82d7d0 !important;
    opacity: .90;
}

.btn-light {
        color: #017ca8;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
        color: #017ca8;
        transform: scale(1.01);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #8aece4 !important;
    border: #8aece4 !important;
        opacity: 100;
        transform: scale(1.03);
}

.card-1{
    background: linear-gradient(white, white) padding-box,
            linear-gradient(to right, #82d7d0, #017ca8) border-box;
        border-radius: 0.5rem;
        border: 2px solid transparent;
}


/* #82d7d0
#83d8d133

background: rgb(130,215,208);
background: linear-gradient(90deg, rgba(130,215,208,1) 5%, rgba(1,124,168,1) 100%);


#017ca8
#017ba733 */

/* AIzaSyD-jTfHTLpU-Vz675Ktcke1P8hdFzpcupk */