::-webkit-scrollbar {
    width: 9px;
    height: 9px;

}

::-webkit-scrollbar-thumb {
    background: rgba(228,74,120, 0.55);
    border-radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

/* p, h1,
h2,
h3,
h4,
h5,h6 {
color: #017ca8 !important;
} */

.section-1 {
    background-image: url('../assets/img/soy.jpeg');
    background-size:contain;;
    background-position: 85% 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}

main  .card-img-block {
    width: 85% !important;
    margin: 0 auto !important;
    position: relative !important;
    top: -30px !important;
    cursor: pointer!important;
}


main  .cont {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.6s ease;
    cursor: pointer;
        
    
}

main .cont p{
display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}



main  .card:hover>.cont {
    height: 10rem;
}

.whatsapp {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 100;
}
/* 
.btn-primary { 
    background-color:#82d7d0;} */

/* #82d7d0
#83d8d133




#017ca8
#017ba733 */